.promo
    padding: 50px 0 0
    height: 100vh      
    &__title  
        text-align: center
        font-size: 3.6rem  
        color: $textColor  
    &__sub-title, &__text 
        margin-top: 20px
        text-align: center
        font-size: 2.6rem 
        font-style: italic
        font-weight: 600
        color: $textColor    
    &__span
        color: $secondColor
        text-transform: uppercase
        &_name
            text-transform: capitalize