$mainFont: 'Roboto', sans-serif
$textColor: gold
$secondColor: lime
$burgerBg: lime
$burgerLink: lime
$burgerText: blue
$progressBar: crimson
$progressBarCurrent: #13cdc2
$btnColor: blue
$btnHover: gold
$cardItems: #13cdc2
$textColorLight: #fff
$textColorLightHover: blue
$textColorLight2: #ff01c8
$technologyList: #ff01c8
