* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: vertical;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.svg {
  width: 25px;
  height: 25px;
  fill: #0087be;
}
.svg:hover {
  fill: deepskyblue;
}

.container {
  max-width: 1212px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .container {
    max-width: 1170px;
  }
}
@media (max-width: 1225px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 950px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}

.container-1190 {
  max-width: 1190px;
}
@media (max-width: 1200px) {
  .container-1190 {
    max-width: 1000px;
  }
}
@media (max-width: 1023px) {
  .container-1190 {
    max-width: 950px;
  }
}
@media (max-width: 991px) {
  .container-1190 {
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .container-1190 {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container-1190 {
    max-width: 100%;
    padding: 0 15px;
  }
}

.container-1110 {
  max-width: 1110px;
}
@media (max-width: 1225px) {
  .container-1110 {
    max-width: 900px;
  }
}
@media (max-width: 991px) {
  .container-1110 {
    max-width: 700px;
  }
}
@media (max-width: 767px) {
  .container-1110 {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container-1110 {
    max-width: 100%;
    padding: 0 15px;
  }
}

.header {
  position: relative;
  padding: 33px 0 36px 0;
  min-height: 200px;
}
.header__top {
  display: grid;
  align-items: center;
}
@media (max-width: 991px) {
  .header__top {
    justify-content: center;
    justify-items: center;
    row-gap: 50px;
  }
}
.header__logo {
  display: grid;
  width: 210px;
  grid-template-rows: 50px;
  grid-row: 1;
}
@media (max-width: 1023px) {
  .header__logo {
    width: 80%;
  }
}
@media (max-width: 991px) {
  .header__logo {
    width: 210px;
    grid-row: 1;
    grid-column: 1;
    justify-items: center;
  }
}
.header__top-right {
  display: grid;
  grid-template: minmax(42px, auto)/300px 225px 185px;
  justify-content: end;
  grid-row: 1;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1225px) {
  .header__top-right {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 991px) {
  .header__top-right {
    grid-row: 2;
  }
}
@media (max-width: 767px) {
  .header__top-right {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    justify-items: flex-end;
  }
}
@media (max-width: 400px) {
  .header__top-right {
    grid-template: repeat(3, auto)/1fr;
    justify-items: center;
  }
}
@media (max-width: 991px) {
  .header__bottom {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .header__bottom {
    position: absolute;
    width: 100%;
    margin: 0;
    top: -1000px;
    left: 50%;
    transition: 0.8s;
    transform: translateX(-50%);
    background: rgba(7, 253, 253, 0.9725490196);
  }
}
.header__active {
  transition: 0.8s;
  top: 100px;
}
.header__info {
  display: grid;
  grid-template: minmax(50px, auto)/50px 1fr;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
@media (max-width: 767px) {
  .header__info__work-time {
    grid-column: 1/3;
    justify-self: center;
  }
}
@media (max-width: 400px) {
  .header__info__work-time {
    grid-column: 1;
    order: 2;
    justify-self: center;
  }
}
@media (max-width: 400px) {
  .header__info-mail {
    order: 1;
  }
}
@media (max-width: 400px) {
  .header__info-tel {
    order: 0;
  }
}
.header__img {
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  background: #1a9bdc;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .header__list {
    padding: 10px 5px;
  }
}
@media (max-width: 767px) {
  .header__list:hover {
    border-radius: 25px;
    background: crimson;
  }
}
.header__photo {
  width: 25px;
  height: 25px;
}
.header__photo_logo {
  width: 100%;
  height: 100%;
}
.header__divider {
  margin: 25px 0 33px 0;
  height: 2px;
  opacity: 0.3;
  background: #c2c2c2;
}
@media (max-width: 767px) {
  .header__divider {
    display: none;
  }
}
.header__nav {
  display: grid;
  grid-template: auto/1fr auto;
}
@media (max-width: 991px) {
  .header__nav {
    grid-template: auto 1fr/auto;
    justify-content: center;
    row-gap: 30px;
    justify-items: center;
  }
}
@media (max-width: 767px) {
  .header__nav {
    padding: 30px 0;
  }
}
.header__menu {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  align-items: center;
  text-align: center;
}
@media (max-width: 1023px) {
  .header__menu {
    grid-template-columns: repeat(6, 100px);
  }
}
@media (max-width: 767px) {
  .header__menu {
    grid-template: repeat(6, minmax(10px, auto))/auto;
    row-gap: 30px;
  }
}
.header__social {
  display: grid;
  -moz-column-gap: 25px;
       column-gap: 25px;
  grid-template-columns: repeat(5, 25px);
}

.promo {
  background: url("img/promo/promo-bg.jpg") no-repeat center/cover;
  min-height: 800px;
}
@media (max-width: 991px) {
  .promo {
    background-position: 65% center;
  }
}
@media (max-width: 576px) {
  .promo {
    min-height: 500px;
  }
}
.promo__wrapper {
  display: grid;
  align-items: center;
  min-height: 800px;
}
@media (max-width: 576px) {
  .promo__wrapper {
    min-height: 500px;
  }
}
.promo__info {
  padding: 100px 0;
  width: 545px;
  display: grid;
  grid-template: repeat(3, auto)/545px;
  justify-items: center;
  align-content: center;
}
@media (max-width: 991px) {
  .promo__info {
    place-content: center;
  }
}
@media (max-width: 576px) {
  .promo__info {
    grid-template: repeat(3, auto)/0.8fr;
  }
}
.promo__text {
  margin-top: 27px;
}

.services {
  min-height: 360px;
}
.services__wrapper {
  display: grid;
  grid-template: minmax(360px, auto)/repeat(4, 1fr);
  grid-auto-rows: minmax(360px, auto);
}
@media (max-width: 1225px) {
  .services__wrapper {
    grid-template: minmax(360px, auto)/repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .services__wrapper {
    grid-template: repeat(4, minmax(360px, auto))/1fr;
  }
}
.services__items {
  padding: 75px 0 56px 0;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template: 100px minmax(50px, auto) 1fr/264px;
}
@media (max-width: 1225px) {
  .services__items {
    padding: 30px 0;
  }
}
.services__items_one {
  background: #43b1d2;
}
.services__items_two {
  background: #3fb6c6;
}
.services__items_three {
  background: #3cbbbb;
}
.services__items_four {
  background: #37c3a8;
}
.services__img {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  background: crimson;
  border-radius: 50%;
}
.services__photo {
  width: 50px;
  height: 50px;
}
.services__description {
  align-self: baseline;
}

.why-we {
  padding: 111px 0 0 0;
  min-height: 896px;
}
.why-we__wrapper {
  margin-top: 24px;
  display: grid;
  grid-template: repeat(2, minmax(170px, auto))/365px 340px 365px;
  place-content: center;
  align-items: end;
  -moz-column-gap: 60px;
       column-gap: 60px;
  grid-auto-rows: 0;
}
@media (max-width: 1225px) {
  .why-we__wrapper {
    grid-template: repeat(3, minmax(170px, auto))/repeat(2, 365px);
    justify-content: space-evenly;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media (max-width: 767px) {
  .why-we__wrapper {
    grid-template: repeat(5, minmax(170px, auto))/0.7fr;
  }
}
@media (max-width: 360px) {
  .why-we__wrapper {
    grid-template: repeat(5, minmax(170px, auto))/1fr;
  }
}
.why-we__text {
  grid-column: 1/3;
}
.why-we__items {
  margin: 90px 0 70px 0;
  display: grid;
  align-items: center;
  align-self: self-start;
  -moz-column-gap: 18px;
       column-gap: 18px;
  grid-template: repeat(2, minmax(75px, auto))/75px 1fr;
}
@media (max-width: 1225px) {
  .why-we__items {
    margin: 50px 0 30px 0;
  }
}
.why-we__items_main-items {
  display: flex;
  align-self: flex-end;
  height: 670px;
  margin: 0;
  grid-template: auto/340px;
  grid-column: 2;
  grid-row: 1/4;
}
@media (max-width: 1225px) {
  .why-we__items_main-items {
    grid-row: 2/4;
  }
}
@media (max-width: 767px) {
  .why-we__items_main-items {
    grid-row: 5;
    grid-column: 1;
  }
}
@media (max-width: 480px) {
  .why-we__items_main-items {
    height: auto;
  }
}
@media (max-width: 1225px) {
  .why-we #atoms {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (max-width: 767px) {
  .why-we #atoms {
    grid-column: 1;
    grid-row: 4;
  }
}
.why-we__img {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: #1a9bdc;
}
.why-we__photo {
  width: 50px;
  height: 50px;
}
.why-we__photo_main-photo {
  width: 100%;
  height: 100%;
}

.about {
  padding: 160px 0;
  background: url("img/about/about-bg.jpg") no-repeat center/cover;
  min-height: 592px;
}
@media (max-width: 991px) {
  .about {
    padding: 100px 0;
  }
}
.about__wrapper {
  display: grid;
  grid-template: minmax(278px, auto)/repeat(4, minmax(165px, auto));
  -moz-column-gap: 180px;
       column-gap: 180px;
}
@media (max-width: 1225px) {
  .about__wrapper {
    grid-template: minmax(278px, auto)/repeat(4, minmax(100px, auto));
    -moz-column-gap: 110px;
         column-gap: 110px;
  }
}
@media (max-width: 991px) {
  .about__wrapper {
    grid-template: minmax(278px, auto)/repeat(2, minmax(100px, auto));
    gap: 50px;
  }
}
@media (max-width: 576px) {
  .about__wrapper {
    grid-template: minmax(278px, auto)/minmax(100px, auto);
  }
}
.about__items {
  display: grid;
  place-items: center;
  grid-template-rows: 80px 90px 40px auto;
}
.about__img {
  width: 80px;
  height: 80px;
}
.about__photo {
  width: 100%;
  height: 100%;
}
.about__photo_health {
  animation: flicker 8s linear infinite both;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  0.02% {
    opacity: 1;
  }
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  1.02% {
    opacity: 1;
  }
  8.98% {
    opacity: 1;
  }
  9% {
    opacity: 0;
  }
  9.8% {
    opacity: 0;
  }
  9.82% {
    opacity: 1;
  }
  9.48% {
    opacity: 1;
  }
  9.5% {
    opacity: 1;
  }
  9.6% {
    opacity: 1;
  }
  9.62% {
    opacity: 1;
  }
  14.98% {
    opacity: 1;
  }
  15% {
    opacity: 0.5;
  }
  15.8% {
    opacity: 0.5;
  }
  15.82% {
    opacity: 1;
  }
  15.18% {
    opacity: 1;
  }
  15.2% {
    opacity: 0.7;
  }
  16% {
    opacity: 0.7;
  }
  16.02% {
    opacity: 1;
  }
  15.48% {
    opacity: 1;
  }
  15.5% {
    opacity: 0.5;
  }
  16.2% {
    opacity: 0.5;
  }
  16.22% {
    opacity: 1;
  }
  16.98% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  17.8% {
    opacity: 1;
  }
  17.82% {
    opacity: 1;
  }
  20.48% {
    opacity: 1;
  }
  20.5% {
    opacity: 0.9;
  }
  21.3% {
    opacity: 0.9;
  }
  21.32% {
    opacity: 1;
  }
  20.98% {
    opacity: 1;
  }
  21% {
    opacity: 1;
  }
  22% {
    opacity: 1;
  }
  22.02% {
    opacity: 1;
  }
  39.98% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 1;
  }
  41.02% {
    opacity: 1;
  }
  40.48% {
    opacity: 1;
  }
  40.5% {
    opacity: 0.6;
  }
  41.4% {
    opacity: 0.6;
  }
  41.42% {
    opacity: 1;
  }
  41.98% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
  42.8% {
    opacity: 1;
  }
  42.82% {
    opacity: 1;
  }
  59.98% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  61.02% {
    opacity: 1;
  }
  60.18% {
    opacity: 1;
  }
  60.2% {
    opacity: 0.2;
  }
  61% {
    opacity: 0.2;
  }
  61.02% {
    opacity: 1;
  }
  60.78% {
    opacity: 1;
  }
  60.8% {
    opacity: 0.4;
  }
  61.6% {
    opacity: 0.4;
  }
  61.62% {
    opacity: 1;
  }
  61.38% {
    opacity: 1;
  }
  61.4% {
    opacity: 0;
  }
  62.2% {
    opacity: 0;
  }
  62.22% {
    opacity: 1;
  }
  61.78% {
    opacity: 1;
  }
  61.8% {
    opacity: 1;
  }
  62.8% {
    opacity: 1;
  }
  62.82% {
    opacity: 1;
  }
  75.98% {
    opacity: 1;
  }
  76% {
    opacity: 1;
  }
  77% {
    opacity: 1;
  }
  77.02% {
    opacity: 1;
  }
  77.98% {
    opacity: 1;
  }
  78% {
    opacity: 0.7;
  }
  78.8% {
    opacity: 0.7;
  }
  78.82% {
    opacity: 1;
  }
  78.98% {
    opacity: 1;
  }
  79% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  80.02% {
    opacity: 1;
  }
  99.98% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
  101% {
    opacity: 1;
  }
  101.02% {
    opacity: 1;
  }
}
.about__photo_heart {
  animation: heart 1.5s ease-in-out infinite both;
}
@keyframes heart {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
.about__photo_helicopter {
  animation: vibrate 0.5s linear infinite both;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
.about__photo_lungs {
  animation: shake 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}
@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}
.about__divider {
  margin-top: 26px;
  width: 84px;
  height: 6px;
  background: #37c3a8;
}

.work {
  padding: 100px 0;
  min-height: 948px;
}
.work__main__wrapper {
  display: grid;
  grid-template-columns: 714px 422px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1200px) {
  .work__main__wrapper {
    grid-template-columns: 0.8fr;
    justify-content: center;
    row-gap: 150px;
  }
}
.work__left {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
}
@media (max-width: 1200px) {
  .work__left {
    display: grid;
    grid-template-columns: 0.8fr;
    justify-items: center;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .work__right {
    display: grid;
    grid-row: 2;
    grid-template-columns: 0.5fr;
    justify-items: center;
    justify-content: center;
  }
}
.work__sub__wrapper {
  margin-top: 54px;
  display: grid;
  grid-template: auto/repeat(2, 334px);
  -moz-column-gap: 42px;
       column-gap: 42px;
}
@media (max-width: 767px) {
  .work__sub__wrapper {
    row-gap: 50px;
    grid-template: repeat(2, auto)/0.8fr;
  }
}
.work__img-left {
  width: 334px;
  height: 210px;
}
@media (max-width: 360px) {
  .work__img-left {
    width: 300px;
  }
}
.work__photo {
  display: flex;
  width: 100%;
  height: 100%;
}
.work__date {
  margin-top: 12px;
  display: grid;
  grid-template: auto/125px auto;
}
@media (max-width: 767px) {
  .work__date {
    justify-content: center;
  }
}
.work__accordeon {
  margin-top: 12px;
}
.work__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("icons/work/triangle.svg") no-repeat center;
  background-color: #fff;
}
.work__service {
  padding: 0 6px;
  display: grid;
  grid-template: 54px/40px 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  width: 422px;
  height: 54px;
  border-radius: 15px;
  background: #e2e2e2;
  cursor: pointer;
}
@media (max-width: 420px) {
  .work__service {
    width: 300px;
  }
}
.work .active {
  background: #0087be;
}
.work .text-noactive {
  margin-bottom: 50px;
  display: none;
}

.gallery {
  padding: 94px 0;
  background: url("img/gallery/gallery-bg.jpg") no-repeat center/cover;
  min-height: 826px;
}
.gallery__wrapper {
  margin: 54px auto 0;
  max-width: 1100px;
  display: grid;
  grid-template: repeat(2, 209px)/repeat(3, 344px);
  gap: 37px 34px;
  grid-auto-rows: minmax(209px, auto);
}
@media (max-width: 1225px) {
  .gallery__wrapper {
    grid-template: repeat(3, 209px)/repeat(2, minmax(344px, 450px));
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .gallery__wrapper {
    grid-template: repeat(3, 209px)/repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .gallery__wrapper {
    grid-template: repeat(6, 209px)/0.8fr;
  }
}
.gallery__inner__items {
  position: relative;
  cursor: pointer;
}
.gallery__outer__items {
  display: grid;
  place-items: center;
  transform: rotateY(90deg);
  position: absolute;
  top: 0;
  min-height: 209px;
  text-align: center;
  font-weight: 700;
  background: #30b69e;
  transition: 1.5s;
}
.gallery__photo {
  display: flex;
  width: 100%;
  height: 100%;
}
.gallery__inner__items:hover .gallery__outer__items {
  transform: rotateX(0deg);
  transition: 1.5s;
}

.our__team {
  padding: 148px 0 134px 0;
  min-height: 826px;
}
@media (max-width: 576px) {
  .our__team {
    padding: 80px 0;
  }
}
.our__team__wrapper {
  margin-top: 84px;
  display: grid;
  grid-template: minmax(280px, auto)/repeat(4, 280px);
  place-content: center;
  justify-items: center;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
@media (max-width: 1225px) {
  .our__team__wrapper {
    grid-template: minmax(280px, auto)/repeat(2, 280px);
    row-gap: 80px;
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .our__team__wrapper {
    grid-template: minmax(280px, auto)/repeat(2, 220px);
  }
}
@media (max-width: 576px) {
  .our__team__wrapper {
    grid-template: minmax(280px, auto)/220px;
  }
}
.our__team__items {
  display: grid;
  justify-items: center;
  grid-template-rows: 280px 1fr auto;
}
@media (max-width: 767px) {
  .our__team__items {
    grid-template-rows: 220px 1fr auto;
  }
}
.our__team__img {
  margin: 0 auto;
  transition: opacity 1s, transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.our__team__img:hover {
  transform: rotateY(180deg);
}
.our__team__back {
  display: grid;
  align-items: center;
  width: 280px;
  height: 280px;
  background: #30b69e;
  border-radius: 50%;
  text-align: center;
  transition: opacity 1s, transform 2s;
  position: absolute;
  top: 50%;
  opacity: 0;
  transform: rotateY(180deg) translateY(-50%);
}
@media (max-width: 767px) {
  .our__team__back {
    width: 220px;
    height: 220px;
  }
}
.our__team__img:hover .our__team__back {
  opacity: 1;
}
.our__team__photo {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}
.our__team__description {
  text-align: center;
}
.our__team__social {
  display: grid;
  grid-template-columns: repeat(3, 25px);
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 30px;
}

.special {
  padding: 68px 0 54px 0;
  background: #e2e2e2;
  min-height: 176px;
}
.special__wrapper {
  display: grid;
  grid-template: minmax(54px, auto)/1fr 192px;
  -moz-column-gap: 44px;
       column-gap: 44px;
  align-items: center;
}
@media (max-width: 767px) {
  .special__wrapper {
    grid-template: minmax(54px, auto)/1fr 150px;
  }
}
@media (max-width: 767px) {
  .special__wrapper {
    -moz-column-gap: 75px;
         column-gap: 75px;
  }
}
@media (max-width: 576px) {
  .special__wrapper {
    grid-template: minmax(54px, auto)/1fr 115px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}

.contacts {
  padding: 108px 0;
  min-height: 627px;
  background: #171717;
}
.contacts__wrapper {
  display: grid;
  grid-template: auto/310px 135px 210px 235px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media (max-width: 1225px) {
  .contacts__wrapper {
    grid-template: auto/repeat(2, 310px);
    row-gap: 50px;
    align-content: center;
    justify-content: center;
    -moz-column-gap: 200px;
         column-gap: 200px;
  }
}
@media (max-width: 991px) {
  .contacts__wrapper {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
}
@media (max-width: 767px) {
  .contacts__wrapper {
    grid-template: auto/310px;
    justify-items: center;
  }
}
@media (max-width: 360px) {
  .contacts__wrapper {
    grid-template: auto/0.8fr;
  }
}
@media (max-width: 1225px) {
  .contacts__items_info {
    grid-row: 2;
  }
}
@media (max-width: 767px) {
  .contacts__items_info {
    grid-row: 3;
  }
}
.contacts__menu, .contacts__form {
  margin-top: 70px;
}
.contacts__menu {
  position: relative;
}
.contacts__menu_ml80 {
  margin-left: 80px;
}
.contacts__menu_ml45 {
  margin-left: 45px;
}
.contacts__menu_mail::before, .contacts__menu_mobile::before, .contacts__menu_map::before {
  content: "";
  background: url(icons/contacts/mail.svg);
  width: 40px;
  height: 40px;
  position: absolute;
  left: -80px;
  top: 0;
}
.contacts__menu_mobile::before {
  background: url(icons/contacts/mobile.svg);
}
.contacts__menu_map::before {
  background: url(icons/contacts/map.svg);
}
.contacts__list {
  position: relative;
  margin-top: 22px;
}
.contacts__list_triangle::before {
  content: "";
  background: url(icons/contacts/triangle.svg);
  width: 20px;
  height: 20px;
  position: absolute;
  left: -45px;
  top: 0px;
}
.contacts__list_m0 {
  margin: 0;
}
.contacts__label {
  display: grid;
  margin-top: 20px;
}
.contacts__input, .contacts__textarea {
  width: 231px;
  padding: 0 10px;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #c2c2c2;
  caret-color: crimson;
  color: deepskyblue;
}
@media (max-width: 767px) {
  .contacts__input, .contacts__textarea {
    width: 300px;
  }
}
.contacts__textarea {
  height: 77px;
}
.contacts__social {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(5, 25px);
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.footer {
  background: #1a1a1a;
  min-height: 116px;
}
.footer__wrapper {
  min-height: 116px;
  display: grid;
  place-content: center;
}

.section__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  color: #494949;
}
@media (max-width: 767px) {
  .section__title {
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .section__title {
    font-size: 36px;
  }
}
@media (max-width: 360px) {
  .section__title {
    font-size: 30px;
  }
}
.section__title-second_color {
  color: #fff;
}
.section__title_main__title {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: deeppink;
}
@media (max-width: 1225px) {
  .section__title_main__title {
    font-size: 45px;
  }
}
@media (max-width: 576px) {
  .section__title_main__title {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  .section__title_main__title {
    font-size: 18px;
  }
}

.work__title {
  text-align: left;
}

.special__title {
  font-size: 30px;
}
@media (max-width: 1225px) {
  .special__title {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .special__title {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .special__title {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .special__title {
    font-size: 14px;
  }
}

.section__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #494949;
}
@media (max-width: 1225px) {
  .section__subtitle {
    font-size: 24px;
  }
}

.header__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
}

.services__subtitle {
  text-align: center;
  color: deeppink;
}

.why-we__subtitle {
  color: #6f6f6e;
}

.about__subtitle {
  margin-top: 46px;
  font-size: 60px;
  font-weight: 500;
  color: deeppink;
}

.work__subtitle-left, .work__subtitle-right {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0;
  color: #494949;
}
.work__subtitle-left_active, .work__subtitle-right_active {
  color: #fff;
}

.work__subtitle-left {
  margin-top: 35px;
}
@media (max-width: 767px) {
  .work__subtitle-left {
    text-align: center;
  }
}

.work__time, .work__autor {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #0087be;
}

.work__time:after {
  content: "|";
  margin: 0 15px;
}

.our__team__subtitle {
  margin-top: 30px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0;
  color: #6f6f6e;
}

.contacts__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fff;
}
@media (max-width: 767px) {
  .contacts__subtitle {
    text-align: center;
  }
}

.section__text {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #6a6a6a;
}
.section__text_work {
  margin-top: 38px;
  text-align: left;
}
@media (max-width: 1200px) {
  .section__text_work {
    text-align: center;
  }
}
.section__text__work_mt19 {
  margin-top: 19px;
}
@media (max-width: 576px) {
  .section__text {
    font-size: 14px;
  }
}
.section__text_work_mt28 {
  text-align: left;
  margin-top: 28px;
}
@media (max-width: 767px) {
  .section__text_work_mt28 {
    text-align: center;
  }
}

.section__link {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #6c6c6c;
}
.section__link:hover {
  color: deepskyblue;
}
@media (max-width: 767px) {
  .section__link:hover {
    color: gold;
  }
}
.section__link_active {
  color: #262626;
}

@media (max-width: 1023px) {
  .header__link {
    font-size: 17px;
  }
}

.contacts__link, .contacts__label {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #6c6c6c;
}

.header__text, .header__top-link {
  text-align: left;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  color: #6a6a6a;
}
.header__text .header__top-link:hover, .header__top-link .header__top-link:hover {
  color: deepskyblue;
}
@media (max-width: 480px) {
  .header__text, .header__top-link {
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .header__text, .header__top-link {
    font-size: 12px;
  }
}

.header__span {
  text-transform: uppercase;
}

.promo__text {
  font-size: 17px;
  font-weight: 700;
  color: gold;
}
@media (max-width: 576px) {
  .promo__text {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .promo__text {
    line-height: 1.2;
  }
}

.services__description {
  font-weight: 700;
  font-size: 17px;
  color: gold;
}
@media (max-width: 1225px) {
  .services__description {
    font-size: 16px;
  }
}

.why-we__text {
  margin-top: 20px;
  text-align: left;
}

.why-we_width-text {
  width: 878px;
  margin: 31px auto 0;
}
@media (max-width: 991px) {
  .why-we_width-text {
    width: 95%;
  }
}
@media (max-width: 360px) {
  .why-we_width-text {
    line-height: 1.2;
  }
}

.about__text {
  align-self: baseline;
  margin-top: 26px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: gold;
}

.gallery__outer__items {
  color: gold;
}

.gallery__text {
  width: 1116px;
  margin: 38px auto 0;
  font-weight: 700;
  color: gold;
}
@media (max-width: 1225px) {
  .gallery__text {
    width: 878px;
  }
}
@media (max-width: 991px) {
  .gallery__text {
    width: 95%;
  }
}
@media (max-width: 360px) {
  .gallery__text {
    line-height: 1.2;
  }
}
.gallery__text_color {
  margin: 0;
  padding: 10px;
  width: 100%;
  color: gold;
  font-size: 17px;
}
@media (max-width: 767px) {
  .gallery__text_color {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .gallery__text_color {
    font-size: 12px;
  }
}

.our__team__text {
  width: 1095px;
  margin: 49px auto 0;
}
@media (max-width: 1225px) {
  .our__team__text {
    width: 878px;
  }
}
@media (max-width: 991px) {
  .our__team__text {
    width: 95%;
  }
}
@media (max-width: 360px) {
  .our__team__text {
    line-height: 1.2;
  }
}

.our__team__info, .our__team__back__text {
  margin-top: 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.025em;
  color: #6f6f6e;
}

.our__team__back__text {
  margin: 0;
  color: gold;
}
@media (max-width: 767px) {
  .our__team__back__text {
    font-size: 14px;
  }
}

.contacts__text {
  text-align: left;
}

.footer__copyright {
  font-size: 13px;
  line-height: 24px;
  color: #615555;
}
@media (max-width: 480px) {
  .footer__copyright {
    line-height: 1.2;
  }
}

.section__btn {
  font-family: "Lato", sans-serif;
  position: relative;
  display: inline-grid;
  padding: 14px 31px;
  font-size: 21.2px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.025em;
  border-radius: 25px;
  box-shadow: 0px 0px 30px 20px rgba(7, 253, 253, 0.9725490196) inset, 0.1em 0.1em 0.2em #0087be;
  background: #0087be;
  text-transform: uppercase;
  color: #fff;
}
.section__btn:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0px 0px 30px 20px rgba(7, 253, 253, 0.9725490196) inset;
}
@media (max-width: 767px) {
  .section__btn {
    font-size: 18.5px;
    padding: 14px 18px;
  }
}
@media (max-width: 767px) {
  .section__btn {
    font-size: 14px;
    padding: 14px;
  }
}

.promo__btn {
  display: inline-grid;
  margin-top: 42px;
  padding: 12px 27px;
  font-size: 18.5px;
}

.work__btn {
  display: grid;
  justify-self: center;
  margin-top: 53px;
  padding: 11px 26px;
  font-size: 16.9px;
}

.contacts__btn {
  margin-top: 50px;
  padding: 10px 35px;
  font-size: 13.8px;
}

.burger__menu {
  display: none;
}
@media (max-width: 767px) {
  .burger__menu {
    display: grid;
    align-content: center;
    grid-template: repeat(3, 2px)/1fr;
    row-gap: 10px;
    position: absolute;
    top: 25px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 360px) {
  .burger__menu {
    width: 30px;
    height: 30px;
    row-gap: 8px;
    right: 10px;
  }
}
.burger__menu .burger__line {
  transition: 0.2s;
  width: 100%;
  height: 2px;
  background: #000;
}
.burger__menu .burger__line-minus45deg {
  position: relative;
  top: 10px;
  transition: 0.5s;
  transform: rotate(-45deg);
}
.burger__menu .burger__line_45deg {
  position: relative;
  top: -13px;
  transition: 0.5s;
  transform: rotate(45deg);
}
@media (max-width: 360px) {
  .burger__menu .burger__line_45deg {
    top: -10px;
  }
}
.burger__menu .burger__line-dnone {
  opacity: 0;
  transition: 0.1s;
}

.arrow__up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #30b69e;
  cursor: pointer;
}
.arrow__up:hover {
  background: rgba(7, 253, 253, 0.9725490196);
}
.arrow__up .arrow__img {
  display: grid;
  place-content: center;
}
.arrow__up .arrow__img img {
  width: 50px;
  height: 50px;
}

.arrow__active {
  display: block;
}/*# sourceMappingURL=style.css.map */