.technology
    &__item 
        margin-top: 30px
    &__description  
        display: flex
        justify-content: space-between
        align-items: center
    &__img
        display: flex
        gap: 15px 
    &__svg  
        width: 50px
        height: 50px   
        filter: drop-shadow(0 5px 5px #000)
        &_html
            fill: #ff4500
        &_css
            fill: #1e90ff
        &_less
            height: 60px
            fill: #007cf5  
        &_sass
            fill: #ff5bdb
        &_bootstrap
            fill: #8400ff
        &_bitrix
            fill: #c7042c
        &_javascript
            fill: #ff0
        &_jquery
            fill: #00bfff   
        &_ui-ux
            fill: #ff5f24                  
    &__percent
        font-weight: 900
        font-size: 24px
        color: #00a3e1
        text-shadow: 0 5px 5px #000
        filter: drop-shadow(0 5px 5px #000)
    &__progressbar
        position: relative
        margin-top: 15px
        height: 30px
    &__mainline
        position: absolute
        background: #00a3e1
        height: inherit
        border-radius: 20px   
        filter: drop-shadow(0 5px 5px #000)
        z-index: 10
    &__sideline
        background: #646464
        height: inherit
        border-radius: 20px     
        filter: drop-shadow(0 5px 5px #000)       