.btn
	width: 160px
	padding-bottom: 12px
	position: relative
	margin-top: 60px
	font-size: 20px
	font-weight: 700
	color: $secondColor
	border-bottom: 1px solid $mainBorder
	@media(max-width: $mobile)
		width: 145px
		font-size: 18px
		margin-top: 32px
		padding-bottom: 8px
	@media(max-width: $mediumMobile)
		width: 125px
		font-size: 16px
	@media(max-width: $extraSmallMobile)
		margin-top: 25px
	&::after
		@include after(10px)
		width: 12px
		height: 12px
		@include background('img/arrow-down-blue.svg')
		@media(max-width: $mobile)
			top: 9px
			width: 10px
			height: 10px
		@media(max-width: $mediumMobile)
			width: 8px
			height: 8px
			top: 8px
	&__news__announce_question-list
		margin-top: 25px
		width: 350px
		text-align: left
		background: transparent
		@media(max-width: $tablet)
			width: 300px
		@media(max-width: $mobile)
			width: 270px
		@media(max-width: $mediumMobile)
			width: 240px
		&::after
			top: 8px
			@media(max-width: $pocketBook)
				top: 7px
			@media(max-width: $mediumMobile)
				top: 5px
	&_secondcolor
		color: $defaultColor
		border-bottom: 1px solid $defaultBorder
		&::after
			@include background('img/arrow-down-white.svg')
	&_promo
		margin-top: 65px
		width: 224px
		padding: 16px 40px
		border-radius: 50px
		border: 1px solid $defaultBorder
		background: $defaultBg
		@media(max-width: $smallNotebook)
			width: 200px
			padding: 12px 36px
		@media(max-width: $pocketBook)
			padding: 12px 25px
		@media(max-width: $smallPocketBook)
			margin-top: 0
		&_bg
			width: 296px
			background: transparent
			@media(max-width: $smallNotebook)
				width: 280px
			@media(max-width: $mediumMobile)
				width: 250px
			@media(max-width: $extraSmallMobile)
				width: 230px
		&::after
			top: 24px
			right: 40px
			@media(max-width: $smallNotebook)
				top: 21px
				right: 21px
	&_events
		width: 132px
		margin-top: 0
		@media(max-width: $mediumMobile)
			width: 125px
	&_paginations
		margin: 0
		width: auto
		font-weight: 400
		padding-bottom: 0
		border-bottom: none
		&::after
			background: none
	&_news
		width: 250px
		font-size: 30px
		border: 1px solid transparent
		@media(max-width: $smallDesktop)
			width: 220px
			font-size: 26px
		@media(max-width: $tablet)
			margin-top: 56px
		@media(max-width: $mobile)
			width: 180px
			font-size: 22px
			margin-top: 32px
		@media(max-width: $extraSmallMobile)
			width: 145px
			font-size: 18px
			margin-top: 16px
		&::after
			width: 16px
			height: 16px
			top: 16px
			@media(max-width: $smallDesktop)
				width: 14px
				height: 14px
				top: 12px
			@media(max-width: $mobile)
				width: 12px
				height: 12px
				top: 10px
			@media(max-width: $extraSmallMobile)
				width: 10px
				height: 10px
				top: 8px
		&_show-more
			width: auto
			max-width: 30%
			text-transform: uppercase
			@media(max-width: $mediumTablet)
				max-width: 35%
			@media(max-width: $smallTablet)
				max-width: 40%
			@media(max-width: $pocketBook)
				max-width: 50%
			@media(max-width: $smallPocketBook)
				max-width: 55%
			@media(max-width: $mobile)
				margin-top: 56px
			@media(max-width: $mediumMobile)
				margin-top: 32px
			@media(max-width: $smallMobile)
				max-width: 65%
			&::after
				display: none
			&.hide-btn
				display: none
		&:hover
			border-bottom: 1px solid $mainBorder
	&_modal
		margin-top: 0
		@include flexCenter
		width: 120px
		padding: 7px 12px
		border: 1px solid $mainBorder
		border-radius: 60px
		&:not(:last-child)
			border: 0
			background: $mainBg
			color: $defaultColor
		&::after
			display: none
		&_info
			margin-top: 32px
			width: 620px
			text-align: left
			font-size: 16px
			background: $defaultBg
			@media(max-width: $mediumTablet)
				width: 100%
				text-align: center
				padding-right: 10px
			@media(max-width: $extraSmallMobile)
				font-size: 14px
			&::after
				width: 10px
				height: 10px
				top: 4px
				@media(max-width: $extraSmallMobile)
					width: 8px
					height: 8px
			&_active
				text-align: left
				width: 100px



.span__news
	display: inline-flex
	padding: 8px 16px
	border-radius: 40px
	border: 1px solid $mainBorder
	font-size: 20px
	font-weight: 700
	line-height: 80%
	@media(max-width: $mediumMobile)
		padding: 4px 16px
		font-size: 16px
	&_secondcolor
		color: $defaultColor
		border: 1px solid $defaultBorder


.paginations
	padding: 16px 25px
	width: 225px
	@include flexCenter(space-between)
	margin-top: 140px
	border-radius: 30px
	border: 1px solid $mainBorder
	@media(max-width: $notebook)
		margin-top: 170px
	@media(max-width: $smallNotebook)
		margin-top: 120px
	@media(max-width: 1200px)
		padding: 10px 25px
		width: 185px
		margin-top: 50px
	@media(max-width: $tablet)
		margin: 100px auto 0
	@media(max-width: $tablet)
		width: 80%
	@media(max-width: $pocketBook)
		width: 100%
	@media(max-width: $mobile)
		padding: 6px 15px
	&_news__announce
		margin-top: 0
		@media(max-width: $tablet)
			margin-top: 100px
	&_features
		margin: 140px auto