.section__header
    font-size: 40px
    text-align: center
    color: #00a3e1
    border-bottom: 5px dashed #646464
    line-height: 1.8
    text-shadow: 0 5px 5px #000
    filter: drop-shadow(0 5px 5px #000)
    text-transform: uppercase
    &_margin
        margin-top: 30px
    &_additional__technology
        margin-top: 50px
