* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../../../../../../../../img/main-bg.png);
  background-size: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header__logo {
  display: flex;
  justify-content: center;
}
.header .logo {
  width: 800px;
  fill: #6A5ACD;
}
.header__menu {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.header__menu .menu__list {
  color: aqua;
  list-style: none;
  margin-top: 10px;
}
.header__menu .menu__link {
  text-decoration: none;
  font-size: 20px;
  color: aqua;
}
.header__menu .details__menu {
  position: absolute;
  z-index: 5;
  left: 20%;
  top: 45%;
}
.header__menu details {
  width: 220px;
  outline: 0;
  outline-offset: 0;
}
.header__menu details:active, .header__menu :hover, .header__menu :focus {
  outline: 0;
  outline-offset: 0;
}
.header__menu summary {
  font-size: 20px;
  color: aqua;
}
.header__menu .summary-solar-systems {
  padding-top: 10px;
}
.header__menu .summary-star {
  font-size: 20px;
  color: aqua;
  padding-top: 10px;
  text-align: center;
}
.header__menu .details-solar-systems {
  padding-left: 20px;
}
.header__menu .menu__solar-systems {
  padding-left: 15px;
}

details[open] {
  animation: scale-up-ver-top 0.55s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-ver-top {
  0% {
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}

.planet {
  padding-left: calc(50% - 650px);
  padding-right: calc(50% - 650px);
}
.planet .solar__system-text {
  text-align: center;
  width: 500px;
  font-size: 25px;
  font-weight: 900;
  color: #DA70D6;
  margin: 0px auto 100px;
}
.planet .solar__system-nav {
  font-weight: 700;
  color: white;
  font-size: 20px;
  margin-bottom: 50px;
}
.planet .solar__system-link {
  color: #6A5ACD;
  text-decoration: none;
}
.planet__content {
  display: flex;
  justify-content: center;
}
.planet__img {
  margin-right: 50px;
}
.planet__photo {
  width: 650px;
}
.planet .details__menu {
  width: 550px;
  color: white;
}
.planet__descriptions-top {
  width: 550px;
}
.planet__descriptions {
  padding: 0 32px 100px;
  width: 550px;
  border: 3px solid #c18048;
  border-radius: 10px;
  background: #100a0b;
}
.planet__descriptions-header {
  border-radius: 10px;
  font-size: 40px;
  min-height: 50px;
  color: #baff83;
  border: 3px solid #826950;
  text-align: center;
}
.planet__descriptions-heading {
  margin-top: 15px;
  min-height: 50px;
  font-size: 30px;
  text-align: center;
  color: #baff83;
  background: #376938;
  border: 3px solid #669348;
  border-radius: 10px;
}
.planet__descriptions-text {
  padding-top: 25px;
  color: #fab47a;
  font-size: 25px;
}
.planet__menu {
  padding-top: 50px;
  font-size: 20px;
  list-style: none;
  color: #fab47a;
  font-size: 24px;
}
.planet__menu-list-first {
  padding-bottom: 15px;
}
.planet__menu-list {
  padding-top: 15px;
}
.planet__btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.planet__btn .btn__link {
  color: white;
  display: inline-block;
  text-decoration: none;
  border: 3px solid #ffe171;
  padding: 10px 50px;
  background: #69552d;
  height: 40px;
}/*# sourceMappingURL=BovisTor.css.map */