.portfolio
    &__tabs
        margin: 20px 0
        display: flex
        justify-content: center
        align-items: center
    &__tabs__items 
        position: relative
        padding: 5px 20px
        margin: 0 20px
        font-size: 20px
        border-radius: 20px 
        text-transform: uppercase
        cursor: pointer   
        background: linear-gradient(140deg, #fff, #000)
        -webkit-background-clip: text!important
        -webkit-text-fill-color: transparent
        text-shadow: 3px 3px 3px #0000008c
        filter: brightness(1.5) contrast(1.5) drop-shadow(0 5px 5px #000)
        &_all
            background: linear-gradient(140deg, #fff, #00a3e1) 
        &_html
            background: linear-gradient(140deg, #ff4500, #1e90ff)
        &_bootstrap   
            background: linear-gradient(120deg, #8400ff, #2c2d2f) 
        &_javascript         
            background: linear-gradient(140deg, #ffff00, #2d79c7)  
        &_react  
            background: linear-gradient(140deg, #62dafc, #6e45b5)          
        &_span
            padding: 5px 20px
            border-radius: 20px 
            box-shadow: 0 5px 3px 3px #000
            &_all
               background: linear-gradient(140deg, #00a3e1, transparent 50%, #fff) 
            &_html 
                background: linear-gradient(140deg, #ff4500, transparent 50%,  #1e90ff) 
            &_bootstrap   
                background: linear-gradient(120deg, #8400ff, transparent 50%, #2c2d2f)  
            &_javascript         
                background: linear-gradient(140deg, #ffff00, transparent 50%, #2d79c7)      
            &_react  
                background: linear-gradient(140deg, #62dafc, transparent 50%, #6e45b5)     
        
        
        
